
.stock-image{
  height:225px;
  width:225px;
}

.stock-image-product{
  height:305px;
  width:305px;
}

.candle-image:hover{
    box-shadow: 20px;
    cursor: pointer;
}

@media screen and (max-width: 576px) { 
  .stock-image{
      height:125px;
      width:125px;
  }
}

#lblCartCount {
  font-size: 12px;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -5px;
}

.yeezy-btn{
  background:#c5c5c5;
  color:#f5f5f5;
  border-radius: 20px;
}
.yeezy-text{
  color:#afafaf;
}

.pointer:hover{
  cursor: pointer;
}

.menu-component{
  background:black;
  color:white;
}

.menu-enter{
  opacity: 0;
}

.menu-enter-active{
  opacity: 1;
  transition: opacity 300ms;
}

.menu-exit {
  opacity: 1;
}
.menu-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.dark-link{
  color:#343a40;
}